trainFiles = src/resources/train10
validationFiles = src/resources/valid4
#trainDir=Holmes_Training_Data/train
#validDir=Holmes_Training_Data/valid4
suffix =TXT
maxEpochs = 20
tolerance = 1e-30
validBatchSize = 100
batchSize = 50
validationFreq  = 1
learningRate = 0.1
parallel = false
nThreads = 0
cacheServer = localhost
cachePort = 3030
cacheType = mongo
optimizerType = adagrad
saveVisualization = true
visualizationFile = src/output/visualization.csv
