#trainFiles = src/resources/train10
#validationFiles = src/resources/valid4
trainDir=mscc/train
validDir=mscc/valid
suffix =TXT
maxEpochs = 500
tolerance = 1e-4
validBatchSize = 150
batchSize = 150
validationFreq  = 10
learningRate = 10
parallel = false
nThreads = 0
optimizerType = adagrad
saveVisualization = true
visualizationFile = src/output/visualization.csv
