#trainFiles = []
#validationFiles = []
trainDir=Holmes_Training_Data/train
validDir=Holmes_Training_Data/valid
suffix =TXT
maxEpochs = 20
tolerance = 1e-3
batchSize = 10
validationFreq  = 1
learningRate = 0.1
parallel = false
nThreads = 0
cacheServer = localhost
cachePort = 3030
cacheType = ehcache
optimizerType = adagrad
